/* body {
    background-color: #f0f0f0;
}

.header-links {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: 'Arial Narrow', sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    color: #333;
    margin-bottom: 3px;
    list-style: none;
}

.links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    margin-top: 2px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #0077b6;
}

.link {
    font-size: 18px;
    list-style: none;
    font-family: 'Arial Narrow', sans-serif;
    font-variant: small-caps;
}

.form-div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

input:focus {
    outline: none;
}

.links-list {
    list-style: none;
    padding-bottom: 4px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link-block {
    flex: 0 0 calc(55% - 20px);
    margin-bottom: 20px;
    border-left: 4px solid #ff6b6b;
    padding-left: 15px;
}

.link-sep {
    font-size: medium;
    color: #333;
}

.snippet {
    font-size: smaller;
    color: #555;
}

.link-save {
    color: #2e8b57;
} */

body {
    background-color: rgba(51, 51, 51, 0.712);
    color: #fff;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: -1;
  }

.header-links {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header {
    color: #ddd;
    font-family: 'Arial Narrow', sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    margin-bottom: 3px;
    list-style: none;
    text-decoration: none;
}

.links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    margin-top: 2px;
    gap: 10px;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: rgba(69, 177, 168, 0.829);
    transition: 0.2s ease;
}

a:hover{
    color: rgba(112, 157, 209, 0.932);
}

.link {
    font-size: 18px;
    list-style: none;
    font-family: 'Arial Narrow', sans-serif;
    font-variant: small-caps;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

.about-header {
    font-size: 24px;
    font-weight: bold;
    color: rgb(112, 157, 209);
    margin-bottom: 10px;
}

.about-paragraph {
    font-size: 18px;
    color: rgba(69, 177, 168, 0.829);
    max-width: 400px;
    margin: 0 auto;
}


.form-div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

input:focus {
    outline: none;
    background: rgba(10, 10, 10, 0.4);
    box-shadow: 0 0 10px rgba(88, 184, 187, 0.945);
    color: rgba(69, 177, 168, 0.829);
}

::placeholder{
    color: rgba(69, 177, 168, 0.829);
}

.links-list {
    list-style: none;
    padding-bottom: 4px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link-block {
    flex: 0 0 calc(55% - 20px);
    margin-bottom: 20px;
    border-left: 4px solid rgba(69, 177, 168, 0.829);
    padding-left: 15px;
}

.link-sep {
    font-size: medium;
    background: rgba(10, 10, 10, 0.7);
    box-shadow: 0 0 10px rgb(88, 184, 187);
}

.snippet {
    font-size: smaller;
    color: rgba(255, 255, 255, 0.836);
}

.link-save {
    color: rgba(69, 177, 168, 0.829);
    font-size: 18px;
    background-color: transparent;
    font-size: 20px;
    border: none;
    transition: 0.2s ease;
}

.link-save:hover{
    background: rgba(10, 10, 10, 0.7);
    box-shadow: 0 0 10px rgba(88, 184, 187, 0.945);
    border-radius: 5px;
    padding: 2px;
}

input {
    background-color: transparent;
    border: 2px solid rgb(234, 200, 252);
    width: 250px;
    height: 15px;
    transition: 0.1s ease;
    color: #fff;
    padding: 5px;
    transition: 0.1s ease;
}

.search-btn {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    font-size: large;
    color: rgba(88, 184, 187, 0.945);
}

.saved-head {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: rgba(88, 184, 187, 0.945);
    font-family: 'Arial Narrow', sans-serif;
    font-size: large;
}

.link-removeAll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 89.65vh;
    margin-top: 0;
    background-color: rgba(88, 184, 187, 0.664);
    border: none;
    color: #fff;
    padding: 6px;
    border-radius: 7px;
    margin-bottom: 20px;
    transition: 0.2s ease;
}

.link-removeAll:hover{
    background-color: transparent;
    color: rgb(112, 157, 209);
    border: 1px solid rgba(88, 184, 187, 0.945);
}